<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.example"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Passbox</name>

    <description>
       Safe your password box 
    </description>

    <author href="http://portofolio.charalampos-papaioannou.worcestercomputing.com/" 
        email="papc2_12t@uni.worc.ac.uk">
        Chpmobile
    </author>

    <preference name="phonegap-version" value="3.7.0" />
    <platform name="android" />
    <platform name="android">
              <icon src="icon/logo.png" density="ldpi" />
              <icon src="icon/logo.png" density="mdpi" />
              <icon src="icon/logo.png" density="hdpi" />
              <icon src="icon/logo.png" density="xhdpi" />
     </platform>

      <!-- required for dialogs -->
     <gap:plugin name="org.apache.cordova.dialogs"/>
    <plugin name="de.appplant.cordova.plugin.local-notification" spec="0.8.1" source="pgb"/>

</widget>
